{% extends 'base.html' %}
{% set active_page = "profiles" %}

{% block title %}Profile Information{% endblock %}

{% block head %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#identities').DataTable();
        });
    </script>
{% endblock %}

{% block body %}
<h1>Profile info</h1>
<p><b>uuid</b>: {{profile.profile.uuid}}</p>
<p><b>Name</b>: {{profile.profile.name}}</p>
<p><b>e-mail</b>: {{profile.profile.email}}</p>
<p><b>Bot</b>: {{profile.profile.is_bot}}</p>
<p><b>Country</b>: {{profile.profile.country}}</p>

<h2>Identitites</h2>
<table id="identities">
    <thead>
        <tr>
            <th>Name</th>
            <th>email</th>
            <th>Username</th>
            <th>Source</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for identity in profile.identities %}
            <tr>
                <td>{{identity.name}}</td>
                <td>{{identity.email}}</td>
                <td>{{identity.username}}</td>
                <td>{{identity.source}}</td>
                <td><a href="/unmerge/{{identity.id}}">unmerge</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
