{% extends "base.html" %}

{% block head %}
    {{ block.super }}
{% endblock %}



{% block body %}




{% if form.errors %}
<div class="alert alert-warning alert-dismissible fade show" style="margin-top: 5px" role="alert">
    <strong> Oops! </strong> Your username and password didn't match. Please try again.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

{% if next %}
    <div class="alert alert-warning alert-dismissible fade show" style="margin-top: 5px" role="alert">
        {% if user.is_authenticated %}
            Your account doesn't have access to this page. To proceed, please login with an account that has access.
        {% else %}
            Please login to see this page.
        {% endif %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="container col-md-4">
        <br>
        <h1> Login </h1>
        <br>
        <div class="form-group">
            <label for="username">{{ form.username.label_tag }}</label>
            <input name="username" class="form-control" id="username" placeholder="Username" required>
        </div>
        <div class="form-group">
            <label for="password">{{ form.password.label_tag }}</label>
            <input name="password" type="password" class="form-control" id="password" placeholder="Password" required>
        </div>
        <input type="submit" value="login" class="btn btn-primary"/>
        <input type="hidden" name="next" value="{{ next }}" />
        {# Assumes you setup the password_reset view in your URLconf #}
        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    </div>
</form>

{% endblock %}
