{% extends 'base.html' %}
{% with active_page="profiles" %}

{% load blank_name %}

{% block title %}Profiles{% endblock %}

{% block head %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#myTable').DataTable({
                "lengthChange": false,
                "paging": false
            });

            var nPages = {{ n_pages }};
            var currentPage = {{ current_page}};
            var pagingControls = 'Page: ';
            for (var i = 1; i <= nPages; i++) {
                if ( (( i >= currentPage-2 ) && ( i <= currentPage+2 )) || ( i == nPages ) || ( i == 1 ) ) {
                    if (i != currentPage) {
                        pagingControls += '<button formaction="list" type="submit" name="page" value="' + i + '" class="btn btn-info">' + i + '</button> ';
                    } else {
                        pagingControls += '<button formaction="list" type="submit" name="page" value="' + i + '" class="btn" disabled>' + i + '</button> ';
                    }
                } else if ( (i == 1+1 || i == nPages-1) && (currentPage > 1+3 || currentPage < nPages-3) ){
                    pagingControls += " ... "
                }
            }
            pagingControls += ' ';
            $("#customPagination").html(pagingControls);
            // Hide default search input
            $("#myTable_filter").attr('hidden','');
            // Selection of the table length
            $('#tableLength option[value="{{table_length}}"]').attr("selected",true);

        });
    </script>
{% endblock %}

{% block body %}
<h1>Profiles</h1>
<div style="float:right; margin-bottom:4px;">
    <form action="list" method="POST">{% csrf_token %}
        Search to SH: <input id="shsearch" name="shsearch" value="{{shsearch}}" minlength=3>
    </form>
</div>

<div style="float:left; margin-bottom:4px;">
    <form action="list" method="POST">{% csrf_token %}
        Show
        <select id="tableLength" name="table_length" value="{{table_length}}" onchange="this.form.submit()">
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
        entries
    </form>
</div>
<form action="merge_profiles" method="POST">{% csrf_token %}

    <table class="table table-striped" id="myTable">
        <thead class="thead-dark">
            <tr>
                <th></th>
                <th>Name</th>
                <th>email</th>
                <th>Enrollments</th>
                <th>Bot?</th>
                <th>Country</th>
                <th>Last Modified</th>
                <th>
                    <abbr title="identities">ids.</abbr>
                </th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="5">
                    <input type="submit" value="Merge" class="btn btn-success">
                </td>
                <td colspan="3">
                    <div id="customPagination"></div>
                </td>
            </tr>
        </tfoot>
        <tbody>
            {% for uid in uids %}
            {% if uid.profile %}
            <tr>
                <td>
                    <input type="checkbox" name="uuid" value="{{uid.profile.uuid}}">
                </td>
                <td><a href="{{uid.profile.uuid}}">{{uid.profile.name|blank_name}}</a></td>
                <td>{{uid.profile.email}}</td>
                <td>
                    {% for enrollment in uid.enrollments %}
                        {{enrollment}}
                    {% endfor %}
                </td>
                <td>{{uid.profile.is_bot}}</td>
                <td>{{uid.profile.country.name}}</td>
                <td>{{uid.last_modified}}</td>
                <td>{{uid.identities|length}}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</form>
{% endblock %}
{% endwith  %}