{% extends 'base.html' %}
{% with active_page="profiles" %}

{% block title %}Profile Information{% endblock %}

{% block head %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#orgsTable').DataTable();
            $('#identitiesTable').DataTable();

            $('#editProfileData').click(function(){
                $('#profileData input').removeAttr('readonly').removeClass('form-control-plaintext').addClass('form-control');
                $('#submitProfileData').removeAttr('hidden');
                $(this).attr('hidden', '');
                $('#countrySelect').prop('disabled', false);
                $('#profileBot').removeAttr('disabled')
            });

            $('#addEnrollmentsBtn').click(function(){
                $('#organizations').removeAttr('hidden');
                $('#identities').attr('hidden','');
                $('#uniqueIdentitiesCards').attr('hidden','');
            });

            $('#addIdentitiesBtn').click(function(){
                $('#identities').removeAttr('hidden');
                $('#uniqueIdentitiesCards').removeAttr('hidden');
                $('#organizations').attr('hidden','');
            });

            $('#closeOrganizations').click(function(){
                $('#organizations').attr('hidden','');
            });

            $('#closeIdentities').click(function(){
                $('#identities').attr('hidden','');
                $('#uniqueIdentitiesCards').attr('hidden','');
            });

            $('.input-daterange input').datepicker({
                format: 'yyyy-mm-dd',
                // defaultViewDate: function(){ return $(this).val().substr(0,$(this).val().indexOf(' '))}
            });
            $('.input-daterange input').each(function() {
                var datepick = $(this).val();
                var formated_date = datepick.substr(0,datepick.indexOf(' '));
                $(this).datepicker('setDate', formated_date);
            });

            $('#countrySelect').val("{{profile.profile.country.code}}")
            if($('#profileBot').val() == 'True'){
              $('#profileBot').prop('checked', 'true');
            }

            $('#profileBot').change(function () {
              if($('#profileBot').is(':checked')){
                $('#profileBot').val('True');
              }
            });

            var nPages = {{ n_pages }};
            var currentPage = {{ current_page}};
            var pagingControls = 'Page: ';
            for (var i = 1; i <= nPages; i++) {
                if ( (( i >= currentPage-2 ) && ( i <= currentPage+2 )) || ( i == nPages ) || ( i == 1 ) ) {
                    if (i != currentPage) {
                        pagingControls += '<button formaction type="submit" name="page" value="' + i + '" class="btn btn-info">' + i + '</button> ';
                    } else {
                        pagingControls += '<button formaction type="submit" name="page" value="' + i + '" class="btn" disabled>' + i + '</button> ';
                    }
                } else if ( (i == 1+1 || i == nPages-1) && (currentPage > 1+3 || currentPage < nPages-3) ){
                    pagingControls += " ... "
                }
            }
            pagingControls += ' ';
            $("#customPagination").html(pagingControls);
            // Hide default search input
            $("#myTable_filter").attr('hidden','');
            // Selection of the table length
            $('#tableLength option[value="{{table_length}}"]').attr("selected",true);

            $( "#shsearch" ).submit(function( event ) {
              $('#uniqueIdentitiesTable').removeAttr('hidden');
              event.preventDefault();
            });

            if("{{show_table}}"){
                $('#identities').removeAttr('hidden');
                $('#uniqueIdentitiesTable').removeAttr('hidden');
            }
        });

        // Functions based on JS events
        var showUniqueIdentity = function(uuid){
            var cards = $('#uniqueIdentitiesCards>div')
            for (var i = 0; i < cards.length; i++) {
                $('#uniqueIdentitiesCards>div')[i].hidden = true;
            }
            $('#'+ uuid).removeAttr('hidden');
        }
        var closeUniqueIdentity = function(uuid){
            $('#'+ uuid).attr('hidden','');
        }
    </script>
{% endblock %}

{% block body %}
<h1>Profile info / <small>{{profile.profile.uuid}}</small></h1>
<div class="row">
    <div class="col-md-5">
        <div class="row">
            <div class="col-lg-12">
                <form id="profileData" action="" method="POST">{% csrf_token %}
                    <div class="form-group row">
                        <label for="profileName" class="col-sm-2 col-form-label"><b>Name</b></label>
                        <input name="name" type="text" readonly class="col-sm-10 form-control-plaintext" id="profileName" value="{{profile.profile.name}}">
                    </div>
                    <div class="form-group row">
                        <label for="profileEmail" class="col-sm-2 col-form-label"><b>e-mail</b></label>
                        <input name="email" type="text" readonly class="col-sm-10 form-control-plaintext" id="profileEmail" value="{{profile.profile.email}}">
                    </div>
                    <div class="form-group row">
                        <label for="profileBot" class="col-sm-2 col-form-label"><b>Bot?</b></label>
                        <input name="bot" type="checkbox" class="col-sm-10 form-control-plaintext" style="height:20px;margin-top:8px" id="profileBot" value="{{profile.profile.is_bot}}" disabled>
                    </div>
                    <div class="form-group row">
                        <label for="profileCountry" class="col-sm-2 col-form-label"><b>Country</b></label>
                        <select id="countrySelect" name="country" type="text" disabled="true" class="col-sm-10 form-control" id=" profileCountry" value="{{profile.profile.country.code}}">
                            <option value="">None</option>
                          {% for country in countries %}
                            <option value="{{country.code}}">{{country.name}}</option>
                          {% endfor %}
                        </select>
                    </div>
                    <span id="editProfileData" class="btn btn-primary">Edit</span>
                    <button type="submit" class="btn btn-success" id="submitProfileData" hidden>Submit</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="float-left">Enrollments</h2>
                <button id="addEnrollmentsBtn" type="button" class="btn btn-primary btn-sm float-right">Add <span class="sr-only">enrollments</span></button>
                <table class="table table-striped table-sm" id="profileEnrollments">
                    <thead class="thead-dark">
                        <tr>
                            <th>Organization</th>
                            <th>Dates</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for enrollment in enrollments %}
                        <form action="{% url 'update identity' profile.profile.uuid enrollment.organization.name %}" method="POST">{% csrf_token %}
                            <tr>
                                <td>{{enrollment.organization.name}}</td>
                                <td>
                                    <div class="input-group input-daterange">
                                        <input type="text" class="form-control" name="start_date" value="{{enrollment.start|date:'Y-m-d H:i:s'}}">
                                        <div class="input-group-addon">to</div>
                                        <input type="text" class="form-control" name="end_date" value="{{enrollment.end|date:'Y-m-d H:i:s'}}">
                                    </div>
                                    <input type="text" readonly hidden name="old_start_date" value="{{enrollment.start|date:'Y-m-d H:i:s'}}">
                                    <input type="text" readonly hidden name="old_end_date" value="{{enrollment.end|date:'Y-m-d H:i:s'}}">
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-sm btn-success">Update</button>
                                </td>
                                <td>
                                    <a href="{% url 'unenroll identity' profile.profile.uuid enrollment.organization.name enrollment.start|date:'Y-m-d H:i:s' enrollment.end|date:'Y-m-d H:i:s' %}">un-enroll</a>
                                </td>
                            </tr>
                        </form>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="float-left">Profile Identitites</h2>
                <button id="addIdentitiesBtn" type="button" class="btn btn-primary btn-sm float-right">Add <span class="sr-only">identities</span></button>
                <div class="">
                    <table class="table table-striped table-sm" id="profileIdsTable">
                        <thead class="thead-dark">
                            <tr>
                                <th>Name - email - Username - Source</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for identity in profile.identities %}
                            <tr>
                                <td>{{identity.name}} - {{identity.email}} - {{identity.username}} - {{identity.source}}</td>
                                <td>
                                    {% if profile.profile.uuid != identity.id %}
                                    <a href="{% url 'unmerge identity from a profile' profile.profile.uuid identity.id %}">unmerge</a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div id="identities" hidden class="row">


            <div class="col-lg-12">
                <h3 class="float-left">Available Unique Identities</h3>
                <button id="closeIdentities" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <br><br>
                <div style="float:left; margin-bottom:4px;">
                    <form method="POST">{% csrf_token %}
                    Search unique identities: <input id="shsearch" name="shsearch" value="{{shsearch}}" minlength=2>
                    </form>
                </div>
                <br><br>
                <div id="uniqueIdentitiesTable" hidden>
                    <div style="float:left; margin-bottom:4px;">
                        <form method="POST">{% csrf_token %}
                            Show
                            <select id="tableLength" name="table_length" value="{{table_length}}" onchange="this.form.submit()">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option>
                            </select>
                            entries
                        </form>
                    </div>
                    <form action="{% url 'merge to profile' profile.profile.uuid %}" method="POST">{% csrf_token %}
                        <table class="table table-striped" id="identitiesSearchTable">
                            <thead class="thead-dark">
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>email</th>
                                    <th>More</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <td colspan="2"><input type="submit" value="Merge" class="btn btn-success"></td>
                                    <td colspan="3">
                                        <div id="customPagination"></div>
                                    </td>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for identity in unique_identities %}
                                <tr>
                                    {% if identity.profile.uuid != profile.profile.uuid %}
                                        <td><input type="checkbox" name="uuid" value="{{identity.profile.uuid}}"></td>
                                        <td>{{identity.profile.name}}</td>
                                        <td>{{identity.profile.email}}</td>
                                        <td><a href="javascript:showUniqueIdentity('{{identity.uuid}}');">view</a></td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        <div id="organizations" hidden class="row">
            <div class="col-lg-12">
                <h2 class="float-left">Organizations</h2>
                <button id="closeOrganizations" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <table class="table table-striped" id="orgsTable">
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for org in orgs %}
                        <tr>
                            <td>{{org.name}}</td>
                            <td><a href="{% url 'enroll identity' profile.profile.uuid org.name %}">enroll</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3" id="uniqueIdentitiesCards">
        {% for uuid in unique_identities %}
            <div class="card" id="{{uuid.uuid}}" hidden>
              <div class="card-body">
                <button id="close_{{uuid.uuid}}" type="button" class="close" aria-label="Close" onclick="closeUniqueIdentity('{{uuid.uuid}}')">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="card-title">{{uuid.profile.name}}</h4>
                  <form action="{% url 'merge to profile' profile.profile.uuid %}" method="POST">{% csrf_token %}
                    <button type="submit" name="uuid" value="{{uuid.profile.uuid}}" class="btn btn-success" style="float: right;">Merge</button>
                  </form>
                  <p class="card-text"><b>Email:</b> {{uuid.profile.email}}</p>
                  <p class="card-text"><b>Bot:</b> {{uuid.profile.is_bot}}</p>
                  <p class="card-text"><b>Country:</b> {{uuid.profile.country.name}}</p>
                  <p class="card-text"><b>Last Mod.:</b> {{uuid.last_modified}}</p>
                Identities:
                <ul class="list-group">
                    {% for identity in uuid.identities %}
                        <li class="list-group-item">{{identity.name}} - {{identity.email}} - {{identity.username}} - {{identity.source}}</li>
                    {% endfor %}
                </ul>
              </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% endwith  %}
